{% extends "base.html" %}

{% block content %}

<div id="container"></div>

{% endblock %}


{% block highcharts %}

<script>
    // convert string to json
    var level = JSON.parse('{{ level | escapejs }}');
    var cate = JSON.parse('{{ how | escapejs }}');
    cate = cate.map(i=>Number(i));
    
    // chart

    Highcharts.chart('container', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Number Of Attacks by Severity'
    },
    subtitle: {
        text: 'Source: <a href="#">Me</a>'
    },
    xAxis: {
        categories: level,
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Number of attacks',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' attacks'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 30,
        floating: true,
        borderWidth: 1,
        backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
        shadow: true
    },
    credits: {
        enabled: false
    },
    series: [ {
        name: 'Attacksss',
        data: cate
    }]
});

</script>

{% endblock %}
