{% extends "base.html" %}

{% block content %}
<p>This is dashboard!</p>

  <div id="container"></div>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script>
    // convert string to json
    var jsonObject = JSON.parse('{{ rows | escapejs }}');

    function getSeverity(jsonul){
        var sever = [];
        for (var i of jsonul) {
        sever.push(i.severity);
        }
        return sever;
    }

    function getNumbers(jsonul){
        var ho = [];
        for (var i of jsonul) {
            ho.push(i.howmany);
        }
        return ho;
    }

    var severity = getSeverity(jsonObject);
    var how = getNumbers(jsonObject);
    console.log(how);
    
    
console.log(jsonObject);
    // chart

    Highcharts.chart('container', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Number Of Attacks by Severity'
    },
    subtitle: {
        text: 'Source: <a href="#">Me</a>'
    },
    xAxis: {
        categories: severity,
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Number of attacks',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' attacks'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 80,
        floating: true,
        borderWidth: 1,
        backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
        shadow: true
    },
    credits: {
        enabled: false
    },
    series: [ {
        name: 'Attacksss',
        data: how
    }]
});


</script>

{% endblock %}