{% extends "base.html" %}

{% block content %}

<div id="container"></div>

<div id="container2"></div>

{% endblock %}


{% block highcharts %}

<script>
// ################ HIGHCHARTS ###############

function renderChart(id, level, cate){

    // chart

    Highcharts.chart(id, {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Number Of Attacks by Severity'
    },
    subtitle: {
        text: 'Source: <a href="#">Me</a>'
    },
    xAxis: {
        categories: level,
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Number of attacks',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
        valueSuffix: ' attacks'
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'top',
        x: -40,
        y: 30,
        floating: true,
        borderWidth: 1,
        backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF',
        shadow: true
    },
    credits: {
        enabled: false
    },
    series: [ {
        name: 'Attacksss',
        data: cate
    }]
});

}

// #################### AJAX ############################

$(document).ready(function(){
    // AJAX 1 pt graph 1
    var url = "/dashboard/adajax/";
    var method = "GET";
    var dataToDjango = {"type":"severity total"};

    $.ajax({
        url: url,
        method: method,
        data: dataToDjango,
        success: function(respData) {
            //console.log(respData);
            //console.log(respData.how);
            renderChart("container", respData.level, respData.how);
        },
        error: function(error){
            alert("some error occured");
        }

    });

    // AJAX 2 pt graph 2
    var url = "/dashboard/adajax/";
    var method = "GET";
    var dataToDjango = {"type":"4 weeks"};

    $.ajax({
        url: url,
        method: method,
        data: dataToDjango,
        success: function(respData) {
            //console.log(respData);
            //console.log(respData.how);
            renderChart("container2", respData.level, respData.how);
        },
        error: function(error){
            alert("some error occured");
        }

    });
});

</script>

{% endblock %}
